// styles.scss

// Переменные для цветов
$main-color: #00bfff; // Бирюзовый
$accent-color: #87ceeb; // Голубой

// Основные стили
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; // Светло-серый фон
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: $main-color;
}

// Стили для формы входа
.login-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 300px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: $main-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: $accent-color;
  }
}

// Стили для страницы с задачами
.taskPage-container {
  padding: 20px;
  margin: 50px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  button {
    background-color: $main-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: $accent-color;
  }
}

// Стили для модального окна
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: $main-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: $accent-color;
  }
}

.task {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease; // Плавное изменение цвета фона
  
    &:hover {
      cursor: pointer;
      background-color: #f0f0f0; // Светло-серый фон при наведении
    }
  
    &:active {
      background-color: #e0e0e0; // Еще более светлый фон при активном состоянии
    }
  }
  
